<body>
  <span id="header-container">
    <header id="header">
      <nav id="navBar">
        <ul class="nav-links">
          <li>
            <a class="site-title" href="{{ site.url }}">Home</a>
          </li>
          <li>
            <a class="site-title" href="{{ site.url }}/cv">Resume</a>
          </li>
          <li>
            <a id="github-nav" class="particles-icon nav-icon" href="https://github.com/{{ site.social.github }}">{% include svg/github_nav.svg %}</a>
          </li>
          <li>
            <a class="particles-icon nav-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{% include svg/linkedin_nav.svg %}</a>
          </li>
          <li>
            <a id="theme-toggle" class="toggle-icon" onclick="modeSwitcher()"></a>
          </li>
        </ul>
      </nav>
    </header>
  </span>

  {% if page.url == "/" %}
  <script>
    window.addEventListener("scroll", function() {
      const header = document.getElementById("header");
      if (window.scrollY >= 700) {
        header.classList.add("visible"); // Show the header
      } else {
        header.classList.remove("visible"); // Hide the header
      }
    });
  </script>
  {% else %}
  <div></div>
  <script>
    document.getElementById("header").classList.add("visible");
    document.body.style.paddingTop = "5em";
  </script>
  {% endif %}
</body>
