<div class="contact">
  <hr>
  <h1>Work Experience</h1>
  <ul>
    <li><h2>Software Engineer Intern</h2></li>
    <li><strong>
      <span class="biz-icon">{% include svg/Amazon_logo.svg %}</span>
    </strong></li>
    <li>May 2025 - August 2025</li>
    <li>Skills: Lambda, S3, SQS, AWS Bedrock, EventBridge, IAM, OpenSearch, Springboot</li>
  </ul>
  <ul>
    <li><h2>Software Engineer Intern</h2></li>
    <li><strong>
      <span class="biz-icon">{% include svg/JPMorganChase.svg %}</span>
    </strong></li>
    <li>June 2024 - August 2024</li>
    <li>Skills: React, Typescript, CI/CD, Agile, Java, Springboot, Oracle DBMS, Encryption</li>
  </ul>
  <ul>
    <li><h2>Undergraduate Teaching Assistant - Software Development</h2></li>
    <li><strong>The Ohio State University</strong></li>
    <li>August 2023 - Present</li>
    <li>Concepts: Java, Object-Oriented Design, Data Structures & Algorithms, Recursion, MVC Principles, XML</li>
  </ul>
  <ul>
      <li><h2>Undergraduate Teaching Assistant - Web Development</h2></li>
      <li><strong>The Ohio State University</strong></li>
      <li>August 2024 - Present</li>
      <li>Concepts: Ruby on Rails, CSS, Javascript, REST APIs, Database Systems, Web Scraping, Test-Driven Development</li>
  </ul>
</div>